.pic{
    
    background-repeat: no-repeat;
    background:fixed
}

.img{
    border-image-outset: 50cm;
    border-radius: 5em; 
} 


.portfolio{
    background-image: url(../../assets/backgrounds/sky\'s_the_limit.jpg)
}

.contact{
    background-image: url(../../assets/backgrounds/sky\'s_the_limit.jpg)
}

