.pic{
    
    background-repeat: no-repeat;
    background:fixed
}

.img{
    border-image-outset: 50cm;
    border-radius: 5em; 
}

*{
  background-color: rgb(179, 206, 217); 
}

.about{
    background-image: url(../../assets/backgrounds/open_the_door.jpg)
}

.portfolio{
    background-image: url(../../assets/backgrounds/sky\'s_the_limit.jpg)
}

.contact{
    background-image: url(../../assets/backgrounds/sky\'s_the_limit.jpg)
}

.resume{
    background-image: url(../../assets/backgrounds/open_the_door.jpg)
}