.nav {
    background: #fa3447f3;
    height: 60px;
  }
  
  .navbar a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }
  header{
    background-image: url(../../assets/backgrounds/sky\'s_the_limit.jpg)
  }