@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Style+Script&family=WindSong:wght@500&display=swap');

.App {
  text-align: center;
}

.buttonLink{
  width: 2rem;
  height: .7rem;
  border-radius: .7rem;
  padding: 10px 20px;
  box-shadow: 5px 3px 5px 3px  #6d6d6e;
}

a:link {
  text-decoration: none;
  }

a:hover {
  transition:rgb(253, 208, 208);
}

.header{
  border-top: thick double #4c4c4d;
  border-bottom: thin #4c4c4d;
}

.header,.nav,.footer{
  position:static;
  background: rgb(253, 159, 142);
  width: 100vw;
}

.nav{
  position: static;
  display:flex;
  justify-items: center;
  justify-content: center;
  border-bottom: thick double #4c4c4d
}

.about, .portfolio, .contact, .resume{

overflow-y:scroll
}

.cards{
  margin-right: 2%;
  margin-left:2%;
  margin-top:1%;
  border:thick double;
  border-color:#4c4c4d
}

.cardPaper{
  max-width:50%; 
  margin-left:40%;
  margin-bottom:1%;
  padding-top:1%;
  border:thick double;
  border-color:#4c4c4d
}

.cardForm{
  margin-left: 20%;
  margin-right: 20%;
  margin-top:1%;
  background: rgba(245,245,245, .5)
}

.form{
  height: 3rem;
  padding: 1px 15px;
  margin-bottom:1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  box-sizing: border-box;
  border-radius: .4rem;
  border-color: #4c4c4d
}

.project{
  width:100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

.projects {
  width:30%;
  padding:.5%;
  border: thin double #4c4c4d;
}

.projectImg{
  width: 100%;
  box-shadow: 7px 5px 5px #4c4c4d;
}

.footer{
  margin-top: 0%;
  border-top: thick double #4c4c4d;
  border-bottom: thick double #4c4c4d
}
