@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Style+Script&family=WindSong:wght@500&display=swap');

.App {
  text-align: center;
}

a:link {
  text-decoration: none;
  }

a:hover {
  transition:rgb(253, 208, 208);
}
/* style={{color: 'green'}} activeStyle={{color: 'red'}} */
.nav,  .footer{
  position: fixed;
  background: rgb(253, 159, 142);
  width: 100vw;
  border-top: thick double #4c4c4d;
  border-bottom: thick double #4c4c4d
}

.header{
  top: 0;
}
.nav{
  top:0
}
.footer{
  bottom: 0;
  height: 5vh;
}

.cards{
  margin-right: 2%;
  margin-left:2%;
  margin-top:2%;
}

.cardPaper{
  max-width:50%; 
  margin-left:40%;
  margin-bottom:2%;
  padding-top:1%;
  border:thick double;
  border-color:black
}

.cardForm{
  padding:1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom:25%;
}

.form{
  height: 3rem;
  padding: 10px 15px;
  margin-bottom:1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  box-sizing: border-box;
  border-radius: .4rem;
  border-color: black;
}

.projects {
  height:325;
  width: 60vw;
}


